      {{- define "main" -}}
      <div class="-m-2 flex flex-col lg:flex-row lg:justify-around pb-8">

        <div class="p-2 lg:w-1/3 lg:max-w-md">
          <h2 class="text-xl sm:text-2xl md:text-2rem">First Edition</h2>
          <div class="flex flex-col sm:flex-row lg:flex-col bg-gray-300 p-2 rounded-lg">
            <div class="sm:w-1/3 lg:w-auto p-2">
              <a href="1e/">
                <img src="img/cover-1e.jpg" class="border-gray-700 bg-gray-700 border-2 rounded-lg">
              </a>
            </div>
            <div class="sm:w-2/3 lg:w-auto p-2">
              <div class="bg-gray-100 rounded-lg px-3 py-2 h-full">
                <p>The first edition of Data Science at the Command Line was published by O&rsquo;Reilly Media in October 2014. It was last updated in July 2020.</p>
                <ul>
                  <li><a href="1e/">Read online</a> for free.</li>
                  <li><a href="https://www.amazon.com/Data-Science-Command-Line-Time-Tested/dp/1491947853">Buy</a> on Amazon.</li>
                  <li><a href="https://github.com/jeroenjanssens/data-science-at-the-command-line">View source</a> on GitHub.</li>
                </ul>
              </div>
             </div>
          </div>
        </div>

        <div class="p-2 lg:w-1/3 lg:max-w-md mt-8 lg:mt-0">
          <h2 class="text-xl sm:text-2xl md:text-2rem">Second Edition</h2>
          <div class="flex flex-col sm:flex-row lg:flex-col bg-gray-300 p-2 rounded-lg">
            <div class="sm:w-1/3 lg:w-auto p-2">
              <a href="2e/">
                <img src="img/cover-2e.jpg" class="border-gray-700 bg-gray-700 border-2 rounded-lg">
              </a>
            </div>
            <div class="sm:w-2/3 lg:w-auto p-2">
              <div class="bg-gray-100 rounded-lg px-3 py-2 h-full">
                <p>I&rsquo;m currently writing the second edition of Data Science at the Command Line, which is scheduled to be published by O&rsquo;Reilly Media in October 2021. You&rsquo;re welcome to follow along and even participate on GitHub.</p>
                <ul>
                  <li><a href="2e/">Read online</a> for free.</li>
                  <li><a href="https://github.com/jeroenjanssens/data-science-at-the-command-line">Participate</a> on GitHub.</li>
                  <li><a href="https://jeroenjanssens.com">Follow Jeroen</a> for updates.</li>
                </ul>
              </div>
             </div>
          </div>
        </div>

      </div>

      {{- end -}}
