@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:400,400i,700,700i|Merriweather:400,400i,700,700i|Source+Code+Pro:400,400i,600,600i|Noto+Sans+JP:900|Fira+Mono:400,600');

#course-signup {
    background: #c2410c;
    padding: 0.2rem 0.7rem;
    color: white;
    font-size: 0.9rem;
    border-radius: 0.375rem;
    margin-top: 1rem;
}

span.header-section-number {
    margin-right: 0.5rem;
}

main span.header-section-number {
    color: #292524 !important;
}

main a {
    text-decoration: underline !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 600;
    margin-bottom: 1.5rem;
    color: #292524 !important;
}

body {
    color: #57534e !important;
}

nav[data-toggle="toc"] .nav-link.active + ul {
    margin-top: 0px !important;
}

nav[data-toggle="toc"] .nav .nav > li > a {
    margin-left: 0rem;
}

.nav-link.active {
    font-weight: bold;
}

@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

pre {
    font-family: 'Fira Mono', monospace !important;
    line-height: 1.25 !important;
    font-size: 0.88rem;
    color: #292524 !important;
}

.chapter-nav > .prev, .chapter-nav > .next {
    padding: 0;
    border: unset;
    box-shadow: none;
}

a.nav-link {
    /* border-radius: 10px; */
    /* padding-left: 0.5rem !important; */
    /* padding-right: 0.5rem !important; */
    padding: 0 !important;
    background: unset !important;
}

ul.nav {
    /* padding-top: 0.5rem !important; */
}

@media (min-width: 1200px) {
    .sidebar {
        max-width: 20rem !important;
    }
}

.callout {
  font-family: 'Noto Sans JP' !important;
  font-weight: 900;
  margin-top: -0.5em !important;
  margin-bottom: -0.2em !important;
  display: inline-block;
  vertical-align: middle;
}

.callout {
    color: #292524 !important;
    font-size: 1.0em !important;
}

p .callout {
  margin-right: 1em !important;
}

p code {
  white-space: inherit;
}

pre {
  word-break: normal;
  word-wrap: normal;
}

img#cover {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width: 100%;
    border: 1px solid #57534e;
}

.cover-in-text {
    display: block-inline;
    float: right;
}

.cover-in-text img {
    border: 1px solid #57534e !important;
    width: 10rem !important;
    margin-left: 2rem !important;
    margin-bottom: 1rem !important;
    margin-top: 0.5rem !important;
}

.cover-in-text .inline-figure {
    border: none !important;
    display: inline;
}

.figure {
    border: none;
}

.figure > p.caption {
    font-size: inherit !important;
    font-style: italic;
	text-align: center;
}

blockquote {
    margin: 0rem;
    padding-left: 0;
    border: none;
}

blockquote + blockquote {
    margin-top: 5rem;
}

blockquote p[data-type=attribution] {
    text-align: right;
    width: 70%;
    margin-left: 30%;
}

blockquote p[data-type=attribution]::before {
    content: "\2014";
}

blockquote > p:first-child {
    font-style: italic;
}

#welcome > h1 {
    display: none;
}

nav li, nav ul {
    margin: 0 !important;
    padding: 0 !important;
}

nav a {
    display: inline-block !important;
    margin-bottom: 0.15rem !important;
}

.book-extra {
    display: none !important;
}

