@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:400,400i,700,700i|Merriweather:400,400i,700,700i|Ubuntu+Mono:400,400i,500,500i');

h1, h2, h3, h4, h5, h6, .book-summary {
  font-family: 'Merriweather Sans', sans-serif;
  letter-spacing: -0.02em !important;
}

h1.title {
  font-size: 2.5em !important;
}

.book.font-family-0 {
  font-family: 'Merriweather', serif !important;
}

.book.font-family-1 {
  font-family: 'Merriweather Sans', sans-serif !important;
}

#header .title {
  margin-bottom: 0em;
}

#header h4.author {
  margin: 0;
  font-size: 1.7em;
}

#header h4.date {
  margin: 0;
  color: #666;
}

#header h4.author em, #header h4.date em {
  font-style: normal;
}

.rmdcaution, .rmdimportant, .rmdnote, .rmdtip, .rmdwarning, .rmdcomment {
  padding: 1em 1em 1em 5em;
  margin-bottom: 2em;
  background: #f5f5f5 1em center/3em no-repeat;
  border: 0.41px solid black;
}
.rmdcaution {
  background-image: url("images/exclamation-triangle.svg");
}
.rmdimportant {
  background-image: url("images/comment.svg");
}
.rmdnote {
  background-image: url("images/info-circle.svg");
}
.rmdtip {
  background-image: url("images/thumbs-up.svg");
}
.rmdwarning {
  background-image: url("images/comment.svg");
}
.rmdcomment {
  background-image: url("images/comment.svg");
}

p.caption {
  color: #777;
  margin-top: 10px;
}

pre, code {
  font-family: 'Ubuntu Mono', monospace !important;
  line-height: 1.2;
}

p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

#welcome img.cover {
  display: block;
  margin: 2em auto;
  border: 1px solid black !important;
}

.book-summary .summary > li:nth-child(1) {
  height:42px;
}

.book-summary .summary > li:nth-child(1) a {
  padding-top: 15px !important;
  font-weight: 500;
}


blockquote {
  width: 80%;
  margin: 2em auto !important;
}

blockquote p {
  color: #ce253e;
  text-align: right;
}

blockquote > p:last-child {
  font-size: 14px !important;
  margin-top: -1em !important;
}

blockquote > p:first-child {
  text-align: inherit;
  font-style: italic;
}


pre {
  white-space: pre !important;
}

.highlight, pre { background-color: #fdf6e3 !important; color: #586e75}
.highlight .c { color: #93a1a1 } /* Comment */
.highlight .err { color: #586e75 } /* Error */
.highlight .g { color: #586e75 } /* Generic */
.highlight .k { color: #859900 } /* Keyword */
.highlight .l { color: #586e75 } /* Literal */
.highlight .n { color: #586e75 } /* Name */
.highlight .o { color: #859900 } /* Operator */
.highlight .x { color: #cb4b16 } /* Other */
.highlight .p { color: #586e75 } /* Punctuation */
.highlight .cm { color: #93a1a1 } /* Comment.Multiline */
.highlight .cp { color: #859900 } /* Comment.Preproc */
.highlight .c1 { color: #93a1a1 } /* Comment.Single */
.highlight .cs { color: #859900 } /* Comment.Special */
.highlight .gd { color: #2aa198 } /* Generic.Deleted */
.highlight .ge { color: #586e75; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #dc322f } /* Generic.Error */
.highlight .gh { color: #cb4b16 } /* Generic.Heading */
.highlight .gi { color: #859900 } /* Generic.Inserted */
.highlight .go { color: #586e75 } /* Generic.Output */
.highlight .gp { color: #586e75 } /* Generic.Prompt */
.highlight .gs { color: #586e75; font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #cb4b16 } /* Generic.Subheading */
.highlight .gt { color: #586e75 } /* Generic.Traceback */
.highlight .kc { color: #cb4b16 } /* Keyword.Constant */
.highlight .kd { color: #268bd2 } /* Keyword.Declaration */
.highlight .kn { color: #859900 } /* Keyword.Namespace */
.highlight .kp { color: #859900 } /* Keyword.Pseudo */
.highlight .kr { color: #268bd2 } /* Keyword.Reserved */
.highlight .kt { color: #dc322f } /* Keyword.Type */
.highlight .ld { color: #586e75 } /* Literal.Date */
.highlight .m { color: #2aa198 } /* Literal.Number */
.highlight .s { color: #2aa198 } /* Literal.String */
.highlight .na { color: #586e75 } /* Name.Attribute */
.highlight .nb { color: #B58900 } /* Name.Builtin */
.highlight .nc { color: #268bd2 } /* Name.Class */
.highlight .no { color: #cb4b16 } /* Name.Constant */
.highlight .nd { color: #268bd2 } /* Name.Decorator */
.highlight .ni { color: #cb4b16 } /* Name.Entity */
.highlight .ne { color: #cb4b16 } /* Name.Exception */
.highlight .nf { color: #268bd2 } /* Name.Function */
.highlight .nl { color: #586e75 } /* Name.Label */
.highlight .nn { color: #586e75 } /* Name.Namespace */
.highlight .nx { color: #586e75 } /* Name.Other */
.highlight .py { color: #586e75 } /* Name.Property */
.highlight .nt { color: #268bd2 } /* Name.Tag */
.highlight .nv { color: #268bd2 } /* Name.Variable */
.highlight .ow { color: #859900 } /* Operator.Word */
.highlight .w { color: #586e75 } /* Text.Whitespace */
.highlight .mf { color: #2aa198 } /* Literal.Number.Float */
.highlight .mh { color: #2aa198 } /* Literal.Number.Hex */
.highlight .mi { color: #2aa198 } /* Literal.Number.Integer */
.highlight .mo { color: #2aa198 } /* Literal.Number.Oct */
.highlight .sb { color: #93a1a1 } /* Literal.String.Backtick */
.highlight .sc { color: #2aa198 } /* Literal.String.Char */
.highlight .sd { color: #586e75 } /* Literal.String.Doc */
.highlight .s2 { color: #2aa198 } /* Literal.String.Double */
.highlight .se { color: #cb4b16 } /* Literal.String.Escape */
.highlight .sh { color: #586e75 } /* Literal.String.Heredoc */
.highlight .si { color: #2aa198 } /* Literal.String.Interpol */
.highlight .sx { color: #2aa198 } /* Literal.String.Other */
.highlight .sr { color: #dc322f } /* Literal.String.Regex */
.highlight .s1 { color: #2aa198 } /* Literal.String.Single */
.highlight .ss { color: #2aa198 } /* Literal.String.Symbol */
.highlight .bp { color: #268bd2 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #268bd2 } /* Name.Variable.Class */
.highlight .vg { color: #268bd2 } /* Name.Variable.Global */
.highlight .vi { color: #268bd2 } /* Name.Variable.Instance */
.highlight .il { color: #2aa198 } /* Literal.Number.Integer.Long */


