p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

#welcome .cover {
  display: block;
  margin: auto;
  border: 0.4px solid black;
}

.book-summary .summary li:nth-child(1) {
  height:42px;
}

.book-summary .summary li:nth-child(1) a {
  padding-top: 15px !important;
  font-weight: 500;
}

